@{
    Layout = "~/_NoHeaderLayout.cshtml";
    PageData["Title"] = "Admin-only Error";
}
@section main {
    <main>
        <p style="text-align: center; padding: 10px 20px;">
        Bạn phải đăng nhập với tài khoản admin để truy cập trang này.</p>
    </main>
}