@{
    Layout = "~/_NoHeaderLayout.cshtml";
    Page.Title = "Liên Hệ";
}
@section main {
    <main class="dark-primary-color">
        <div class="row title-bar">
            <h2>
                Thông tin liên hệ
            </h2>
        </div>
        <section id="contact-content">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3892.306456877257!2d108.06422131424866!3d12.693409991038799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3171f7c6a365a535%3A0xfd7a7fd5bf197cf4!2zS2jDoWNoIHPhuqFuIERha3J1Y28!5e0!3m2!1svi!2s!4v1493345780503" frameborder="0" style="border:0; width: 100%; height: 100%;" allowfullscreen></iframe>
            <div class="row ct-box">
                <div class="col s4 contact-box">
                    <div class="group-icons">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x custom-icon contact-icon"></i>
                            <i class="fa fa-building fa-stack-1x custom-icon fa-inverse"></i>
                        </span>
                    </div>
                    <div class="contact-text">
                        <h5>
                            Địa chỉ
                        </h5>
                        <p>
                            <span>
                                30 Nguyễn Chí Thanh
                            </span><br />
                            <span>
                                Phường Tân An
                            </span><br />
                            <span>
                                TP. Buôn Ma Thuột, DakLak
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col s4 contact-box">
                    <div class="group-icons">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x custom-icon contact-icon"></i>
                            <i class="fa fa-phone fa-stack-1x custom-icon fa-inverse"></i>
                        </span>
                    </div>
                    <div class="contact-text">
                        <h5>
                            Điện thoại
                        </h5>
                        <p>
                            <span>
                                (84-500) 3970 777
                            </span><br />
                            <span>
                                (84-500) 3970 888
                            </span><br />
                            <span>
                                Fax: (84-500) 3970 889
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col s4 contact-box">
                    <div class="group-icons">
                        <span class="fa-stack fa-2x">
                            <i class="fa fa-circle fa-stack-2x custom-icon contact-icon"></i>
                            <i class="fa fa-envelope fa-stack-1x custom-icon fa-inverse"></i>
                        </span>
                    </div>
                    <div class="contact-text">
                        <h5>
                            Email
                        </h5>
                        <p>
                            <span>
                                sales@dakrucohotels.com
                            </span><br />
                            <span>
                                info@dakrucohotels.com
                            </span><br />
                            <span>
                                dosm@dakrucohotels.com
                            </span>
                        </p>
                    </div>
                </div>
            </div>

        </section>
    </main>
}
