@{
    Layout = "~/_NoHeaderLayout.cshtml";
    Page.Title = "Sự kiện";
}
@section main {
    <main class="dark-primary-color">
        <div class="row title-bar">
            <h2>
                Hội nghị - Sự kiện - Tiệc cưới
            </h2>
        </div>
        <article class="event-bar">    
            <div class="opac">
                <p>
                    Dakruco Hotels là lựa chọn lý tưởng & phù hợp nhất cho Quý khách đang lên kế hoạch cho một hội nghị quan trọng, một buổi họp, sự kiện cuối năm cho công ty hoặc tìm kiếm một địa điểm hoàn hảo để tổ chức tiệc cưới, hãy để cho đội ngũ tổ chức sự kiện chuyên nghiệp của khách sạn hỗ trợ quý khách thực hiện những kỷ niệm khó quên tại đây.
                </p>
            </div>  
        </article>
        <section style="padding-bottom: 20px;">
            <div class="row">
                <div class="col s6 border-right">
                    <div class="event-detail event-title left-col">
                        <h5>
                            Hội nghị & Sự kiện
                        </h5>
                        <span class="dolphin-dreams"></span>
                    </div>
                    <div class="event-detail left-col">
                        <img src="~/Images/events/optional.svg" />
                        <h4>
                            Đa dạng về lựa chọn
                        </h4>
                        <p>
                            Khách sạn có tổng cộng 05 khu vực tổ chức tiệc: 2 phòng tiệc lớn & 01 phòng Ballroom – có thể được sử dụng cho nhiều sự kiện khác nhau.

                        </p>
                        <span class="dolphin-dreams"></span>
                    </div>
                    <div class="event-detail left-col">
                        <img src="~/Images/events/modern.svg" />
                        <h4>
                            Công nghệ hiện đại
                        </h4>
                        <p>
                            Sảnh tiệc đều được trang bị những công nghệ hiện đại, hệ thống âm thanh, ánh sáng chất lượng và đường truyền internet tốc độ cao.
                        </p>
                        <span class="dolphin-dreams"></span>
                    </div>
                    <div class="event-detail left-col">
                        <img src="~/Images/events/team.svg" />
                        <h4>
                            Đội ngũ chuyên nghiệp
                        </h4>
                        <p>
                            Hỗ trợ bạn lập kế hoạch và thực hiện, luôn chăm chút đến từng chi tiết để bảo đảm thành công của sự kiện.
                        </p>
                    </div>
                </div>
                <div class="col s6">
                    <div class="event-detail event-title right-col" style="margin-top: 90px;">
                        <h5>
                            Tiệc cưới
                        </h5>
                        <span class="dolphin-dreams"></span>
                    </div>
                    <div class="event-detail right-col">
                        <img src="~/Images/events/styles.svg" />
                        <h4>
                            Đa dạng về phong cách
                        </h4>
                        <p>
                            Kịch bản đám cưới với nhiều phong cách theo yêu cầu, trong không gian lãng mạn bên hồ bơi hoặc sang trọng trẻ trung trong sảnh tiệc.
                        </p>
                        <span class="dolphin-dreams">
                        </span>
                    </div>
                    <div class="event-detail right-col">
                        <img src="~/Images/events/space.svg" />
                        <h4>
                            Không gian rộng rãi
                        </h4>
                        <p>
                            Nằm trong quần thể khách sạn rộng 3,6 ha, hai sảnh tiệc có thể sử dụng cho nhiều mô hình sự kiện đáp ứng cho khoảng 1000 khách mời.
                        </p>
                        <span class="dolphin-dreams">
                        </span>
                    </div>
                    <div class="event-detail right-col">
                        <img src="~/Images/events/creative.svg" />
                        <h4>
                            Luôn luôn sáng tạo
                        </h4>
                        <p>
                            Đem đến phong cách mới lạ và ấn tượng, khách sạn luôn đảm bảo ngày trọng đại của quý khách sẽ là một kỷ niệm không thể nào quên.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
}
