@{
    Layout = "~/_NoHeaderLayout.cshtml";
    Page.Title = "Ẩm thực";
}
@section main {
    <main class="dark-primary-color">
        <div class="row title-bar">
            <h2>
                Ẩm thực
            </h2>
        </div>
        <section style="padding: 10px 10px 30px;">
            <div class="row preview-content">
                <div class="col s6 p-right preview-img p-bottom">
                    <img src="~/Images/food/food00.jpg" />
                </div>
                <div class="col s6 m-bottom preview-text">
                    <p>
                        Khám phá sự đa dạng về ẩm thực tại các nhà hàng của Dakruco Hotels, dù quý khách đang tìm kiếm một bữa ăn nhanh hoặc mong muốn thưởng thức những món ăn cao cấp bên một ly rượu vang thượng hạng, hai nhà hàng và quầy bar sẽ mang đến một luồng gió mới cho không gian ẩm thực tại địa phương.
                    </p>
                    <p>
                        Hoa Mai là nhà hàng chính của khách sạn, phục vụ buffet sáng, ăn trưa và tối. Nhà hàng Hoa Mai cũng là một không gian ẩm thực độc đáo và sôi động, nơi thực khách có thể thưởng thức những món ăn đặc sản của địa phương.
                    </p>
                    <p>
                        Quầy bar – Pool Bar là điểm đến lý tưởng để thưởng thức các loại cocktail hấp dẫn & quý khách sẽ có cơ hội khám phá một thế giới hoàn toàn mới về rượu và các thức uống khác. Quầy bar bên cạnh hồ bơi phục vụ những món ăn nhẹ khi quý khách đang tắm nắng thư  giãn.
                    </p>
                    <p>
                        Bên cạnh đó, một thực đơn gọi món cũng có sẵn trong nhà hàng, đáp ứng mọi nhu cầu của quý khách.
                    </p>
                    <p>
                        Giờ hoạt động: 6h giờ sáng đến 10 giờ tối.
                    </p>
                </div>
            </div>
            <div class="row preview-content">
                <div class="col s8">
                    <div class="row p-bottom">
                        <div class="col s6 preview-img p-right">
                            <img src="~/Images/food/food01.jpg" class="hover-img" />
                        </div>
                        <div class="col s6 preview-img p-right">
                            <img src="~/Images/food/food02.jpg" class="hover-img" />
                        </div>
                    </div>
                    <div class="row p-bottom">
                        <div class="col s6 preview-img p-right">
                            <img src="~/Images/food/food03.jpg" class="hover-img" />
                        </div>
                        <div class="col s6 preview-img p-right">
                            <img src="~/Images/food/food04.png" class="hover-img" />
                        </div>
                    </div>
                </div>
                <div class="col s4 preview-img p-bottom">
                    <img src="~/Images/food/food05.jpg" class="hover-img" />
                </div>
            </div>
            <div class="row preview-content">
                <div class="col s8 p-right p-bottom preview-img ">
                    <img src="~/Images/food/food07.jpg" class="hover-img" />
                </div>
                <div class="col s4">
                    <div class="row s12 p-bottom preview-img">
                        <img src="~/Images/food/food06.jpg" class="hover-img" />
                    </div>
                    <div class="row s12 p-bottom preview-img">
                        <img src="~/Images/food/food08.jpg" class="hover-img" />
                    </div>
                </div>
            </div>
        </section>
    </main>
}
