
<main id="home-main">
    <section id="tabs-box">
        <div class="row" id="tabs-bar">
            <ul class="tabs tabs-fixed-width">
                <li id="li-services" class="tab feature-tab activate-tab">
                    Dịch vụ
                </li>
                <li id="li-posts" class="tab feature-tab">
                    Phòng
                </li>
            </ul>
        </div>
        <div class="row space-around tab-content" id="services-tab">
            <div class="col s30">
                <div class="row">
                    <div class="col s6 tab-content-row">
                        <img src="~/Images/Deluxe-twin-1.jpg" />
                    </div>
                    <div class="col s6 tab-content-row dark-primary-color pl-10">
                        <div class="row justify-align">
                            <p class="col s12 pb-10" style="text-transform: uppercase;">
                                Phòng ngủ
                            </p>
                        </div>
                        <div class="row justify-align">
                            <p class="col s12">
                                A good hotel shouldn’t be necessarily heck this out yourself. five star hotel.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s30">
                <div class="row">
                    <div class="col s6 tab-content-row">
                        <img src="~/Images/Lobby1.jpg" />
                    </div>
                    <div class="col s6 tab-content-row dark-primary-color pl-10">
                        <div class="row justify-align">
                            <p class="col s12 pb-10" style="text-transform: uppercase;">
                                Tiếp tân
                            </p>
                        </div>
                        <div class="row justify-align">
                            <p class="col s12">
                                A good hotel shouldn’t be necessarily heck this out yourself. five star hotel.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s30">
                <div class="row">
                    <div class="col s6 tab-content-row">
                        <img src="~/Images/Restaurant-4.jpg" />
                    </div>
                    <div class="col s6 tab-content-row dark-primary-color pl-10">
                        <div class="row justify-align">
                            <p class="col s12 pb-10" style="text-transform: uppercase;">
                                Quầy ăn
                            </p>
                        </div>
                        <div class="row justify-align">
                            <p class="col s12">
                                A good hotel shouldn’t be necessarily heck this out yourself. five star hotel.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row space-around tab-content not-display" id="posts-tab">
            <div class="col s30">
                <div class="row">
                    <div class="col s6 tab-content-row">
                        <img src="~/Images/rooms/deluxe-A/DeluxeA00.jpg" />
                    </div>
                    <div class="col s6 tab-content-row dark-primary-color pl-10">
                        <div class="row justify-align">
                            <p class="col s12 pb-10" style="text-transform: uppercase;">
                                President
                            </p>
                        </div>
                        <div class="row justify-align">
                            <p class="col s12">
                                A good hotel shouldn’t be necessarily heck this out yourself. five star hotel.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s30">
                <div class="row">
                    <div class="col s6 tab-content-row">
                        <img src="../Images/rooms/deluxe-A/DeluxeA03.jpg" />
                    </div>
                    <div class="col s6 tab-content-row dark-primary-color pl-10">
                        <div class="row justify-align">
                            <p class="col s12 pb-10" style="text-transform: uppercase;">
                                Deluxe Room
                            </p>
                        </div>
                        <div class="row justify-align">
                            <p class="col s12">
                                A good hotel shouldn’t be necessarily heck this out yourself. five star hotel.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s30">
                <div class="row">
                    <div class="col s6 tab-content-row">
                        <img src="../Images/rooms/standardB/StandardB04.jpg" />
                    </div>
                    <div class="col s6 tab-content-row dark-primary-color pl-10">
                        <div class="row justify-align">
                            <p class="col s12 pb-10" style="text-transform: uppercase;">
                                Junior Suite
                            </p>
                        </div>
                        <div class="row justify-align">
                            <p class="col s12">
                                A good hotel shouldn’t be necessarily heck this out yourself. five star hotel.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row space-around dark-primary-color my-20" id="vivaladk-boxes">
            <div class="col s30 vivaladk-box we-box">
                <div class="row vivaladk-box-title">
                    <p class="text-title center-align" style="text-transform: uppercase;">Welcome to Dakruco</p>
                </div>
                <div class="row we-box-imgrow">
                    <div class="col s6">
                        <img src="~/Images/Deluxe-twin-1.jpg" />
                    </div>
                    <div class="col s6">
                        <img src="~/Images/Meeting-room-2.jpg" />
                    </div>
                </div>
                <div class="row we-box-imgrow">
                    <div class="col s6">
                        <img src="~/Images/Lobby1.jpg" />
                    </div>
                    <div class="col s6">
                        <img src="~/Images/Restaurant-4.jpg" />
                    </div>
                </div>
                <div class="row vivaladk-box-text">
                    <p>Mô tả khách sạn, giới thiệu về khách sạn, slogan thương hiệu, sắc hỏi ngã huyền nặng.</p>
                </div>
            </div>
            <div id="tourAlbums" class="col s30 vivaladk-box al-box">
                <div class="row vivaladk-box-title">
                    <p class="text-title center-align" style="text-transform: uppercase;">Tour du lịch</p>
                </div>
                <div class="row al-box-imgrow">
                    <div id="tour-img-content" class="col s12">
                        <img id="tour-img" src="/Images/tours/Tour00.jpg" />
                        <a id="prev-tour" class="nav-icon nav-left nav-tour" href="#">
                            left
                        </a>
                        <a id="next-tour" class="nav-icon nav-right nav-tour" href="#">
                            right
                        </a>
                    </div>
                </div>
                <div class="row vivaladk-box-text">
                    <a id="tour-anchor" href="/Shared/tours/VeMienHoangDa.cshtml">Về miền hoang dã</a>
                </div>
            </div>
            <div class="col s30 vivaladk-box co-box">
                <div class="row" style="height: 280px; position: relative;">
                    <div class="col s12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3892.306456877257!2d108.06422131424866!3d12.693409991038799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3171f7c6a365a535%3A0xfd7a7fd5bf197cf4!2zS2jDoWNoIHPhuqFuIERha3J1Y28!5e0!3m2!1svi!2s!4v1492849648531" frameborder="0" style="border:0; width: 100%; height: 100%;" allowfullscreen></iframe>
                    </div>
                    <div class="col s12 co-box-text">
                        <p>
                            <i class="fa fa-address-book" aria-hidden="true"></i>
                            <span>
                                30 Nguyễn Chí Thanh, Tân An, Buôn Ma Thuột, Dak Lak
                            </span>
                        </p>
                        <p>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                (84-500) 3970.777 - (84-500) 3970.888
                            </span>
                        </p>
                        <p>
                            <i class="fa fa-fax" aria-hidden="true"></i>
                            <span>
                                Fax: (84-500) 3970889
                            </span>
                        </p>
                        <p>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                sales@dakrucohotels.com
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>