<div id="noscript" class="z-depth-2">
    <noscript>
        Bạn cần bật Javascript để sử dụng hết các tính năng trên trang này.<a href="http://www.enable-javascript.com/" target="_blank"><span style="color: #FFC107;"> Click vào đây</span></a> để biết cách bật Javascript trên trình duyệt web của bạn.
    </noscript>
</div>
<script>
    $(function () {
        $("#noscript").hide();
    });
</script>


