<footer class="center-align">    
    <div class="footer-meta dark-primary-color">
        <p>
            <span class="center-align text-primary-color">
                Copyright &copy; @DateTime.Now.Year DAKRUCO - All Right Reserved
            </span>
        </p>
    </div>
</footer>