<header class="page-header">
    <div class="row flex-start logo-box">
        <div class="col s4">
            <a href="~/">
                <img src="~/Images/logo.png" />
            </a>
        </div>
    </div>
    <div class="row space-between px-20">
        <div class="col s4">
            <div class="row">
                <div class="col s5 center-align booking-title dark-primary-color">
                    <span class="text-primary-color">RESERVATIONS</span>
                </div>
                <div class="col s7 center-align booking-title light-primary-color">
                    <span class="primary-text-color">BEST RATE GUARANTEE</span>
                </div>
            </div>
            <div class="row form-row">
                <div class="col s12 input-field mt-10">
                    <button id="btn-check" class="btn full-width" type="submit">Tìm phòng</button>
                </div>
            </div>
        </div>
        <div class="col s6 px-30">
            <div class="row">
                <h1 style="font-size: 50px; line-height: 50px; letter-spacing: 1.25px;">Business Center</h1>
            </div>
            <div class="row">
                <h2 style="font-size: 30px; line-height: 30px; letter-spacing: 0.75px;">Meeting & Events Spaces</h2>
            </div>
        </div>
    </div>
    <nav class="primary-menu block row">
        <a href="~/Default">Trang chủ</a>
        <a href="~/Rooms">Phòng nghỉ</a>
        <a href="~/Tours">Tour</a>
        <a href="~/Food">Ẩm thực</a>
        <a href="~/Events">Sự kiện</a>
        <a href="~/Album">Hình ảnh</a>
        <a href="~/Contact">Liên hệ</a>
    </nav>
</header>
