<header class="page-header small-header">
    <div class="row flex-start logo-box">
        <div class="col s4">
            <a href="~/">
                <img src="~/Images/logo.png" />
            </a>
        </div>
    </div>
    <nav class="primary-menu block row">
        <a href="~/Default">Trang chủ</a>
        <a href="~/Rooms">Phòng nghỉ</a>
        <a href="~/Tours">Tour</a>
        <a href="~/Food">Ẩm thực</a>
        <a href="~/Events">Sự kiện</a>
        <a href="~/Album">Hình ảnh</a>
        <a href="~/Contact">Liên hệ</a>
    </nav>
</header>
