
<div class="row row-item space-around">
    <div class="col s4 row-image-box tour-image-box">
        <img src="~/Images/tours/Tour01.jpg" />
        <a href="~/Shared/tours/BanMeHoLak.cshtml" class="hoverlink">Chi tiết</a>
    </div>
    <div class="col s6">
        <div class="row row-name">
            <a href="~/Shared/tours/BanMeHoLak.cshtml">
                Phố núi Ban mê - Hồ Lăk
            </a>
        </div>
        <div class="row row-preview">
            <p class="col s12">
                Mô tả chung về tour, mô tả chung về tour, mô tả chung về tour.
            </p>
        </div>
        <div class="row">
            <ul class="col s12 row-details">
                <li>
                    7h30: Khởi hành - tham quan hồ Lăk
                </li>
                <li>
                    Cưỡi voi, thăm Buôn Jun, Buôn Lê. Chèo thuyền độc mộc
                </li>
                <li>
                    11h30: dùng cơm trưa, nghỉ ngơi
                </li>
                <li>
                    14h00: lên Đồi Lạc Thiện ghé thăm nhà Bảo Đại, nghỉ ngơi thư giãn
                </li>
                <li>
                    Về lại TP Buôn Ma Thuột, ghé tham quan làng Café Trung nguyên, bảo tàng Café
                </li>
                <li>
                    16h00: tham quan Buôn Ako Dhong, mua sắm sản vật địa phương
                </li>
                <li>
                    Quay lại điểm đón, kết thúc lộ trình.
                </li>
            </ul>
        </div>
        <div class="row">
            <ul class="col s12 fe-icons">
                <li class="tooltip fe-icon fe-bus">
                    <span class="tooltiptext">
                        Đưa đón
                    </span>
                </li>
                <li class="tooltip fe-icon fe-guide">
                    <span class="tooltiptext">
                        Hướng dẫn
                    </span>
                </li>
                <li class="tooltip fe-icon fe-lunch">
                    <span class="tooltiptext">
                        Ăn trưa
                    </span>
                </li>
                <li class="tooltip fe-icon fe-tickets">
                    <span class="tooltiptext">
                        Vé tham quan
                    </span>
                </li>
                <li class="tooltip fe-icon fe-elephant">
                    <span class="tooltiptext">
                        Cưỡi voi
                    </span>
                </li>
                <li class="tooltip fe-icon fe-dugout">
                    <span class="tooltiptext">
                        Chèo thuyền
                    </span>
                </li>
                <li class="tooltip fe-icon fe-bottle">
                    <span class="tooltiptext">
                        Nước suối
                    </span>
                </li>
                <li class="tooltip fe-icon fe-towel">
                    <span class="tooltiptext">
                        Khăn lạnh
                    </span>
                </li>
                <li class="tooltip fe-icon fe-insurance">
                    <span class="tooltiptext">
                        Bảo hiểm
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>