
<div class="row row-item last-item space-around">
    <div class="col s4 row-image-box tour-image-box">
        <img src="~/Images/tours/Tour03.jpg" />
        <a href="~/Shared/tours/PhoNuiBanMe.cshtml" class="hoverlink">Chi tiết</a>
    </div>
    <div class="col s6">
        <div class="row row-name">
            <a href="~/Shared/tours/PhoNuiBanMe.cshtml">
                Phố núi Ban Mê
            </a>
        </div>
        <div class="row row-preview">
            <p class="col s12">
                Mô tả chung về tour, mô tả chung về tour, mô tả chung về tour.
            </p>
        </div>
        <div class="row">
            <ul class="col s12 row-details">
                <li>
                    07h30: Tham quan Làng Café Trung Nguyên, Bảo tàng Cafe thưởng thức hương vị Café của xứ sở Tây Nguyên Huyền bí
                </li>
                <li>
                    09h00: Thăm Chùa Sắc tứ Khải Đoan, Đình Lạc Giao, Buôn Akdhong
                </li>
                <li>
                    11h30: Đoàn dùng cơm trưa và nghỉ ngơi
                </li>
                <li>
                    14h00: Tham quan Nhà đày BMT, Bảo tàng văn hoá các dân tộc Tỉnh Đắk Lắk
                </li>
                <li>
                    Thăm Biệt điện Bảo Đại, cây Kơnia cổ thụ tại Trung tâm văn hoá tỉnh Đắk lắk
                </li>
                <li>
                    Tham quan và chụp hình lưu niệm tại Ngã 6 – Sa bàn chiến thắng Buôn Ma Thuột.
                </li>
                <li>
                    Mua sắm đặc sản Tây nguyên tại Chợ Buôn Ma Thuột và một số cơ sở bán hàng lưu niệm
                </li>
                <li>
                    Quay lại điểm đón, kết thúc lộ trình.
                </li>
            </ul>
        </div>
        <div class="row">
            <ul class="col s12 fe-icons">
                <li class="tooltip fe-icon fe-bus">
                    <span class="tooltiptext">
                        Đưa đón
                    </span>
                </li>
                <li class="tooltip fe-icon fe-guide">
                    <span class="tooltiptext">
                        Hướng dẫn
                    </span>
                </li>
                <li class="tooltip fe-icon fe-lunch">
                    <span class="tooltiptext">
                        Ăn trưa
                    </span>
                </li>
                <li class="tooltip fe-icon fe-tickets">
                    <span class="tooltiptext">
                        Vé tham quan
                    </span>
                </li>
                <li class="tooltip fe-icon fe-coffee">
                    <span class="tooltiptext">
                        Cà phê
                    </span>
                </li>
                <li class="tooltip fe-icon fe-bottle">
                    <span class="tooltiptext">
                        Nước suối
                    </span>
                </li>
                <li class="tooltip fe-icon fe-towel">
                    <span class="tooltiptext">
                        Khăn lạnh
                    </span>
                </li>
                <li class="tooltip fe-icon fe-insurance">
                    <span class="tooltiptext">
                        Bảo hiểm
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>