
<div class="row row-item space-around">
    <div class="col s4 row-image-box tour-image-box">
        <img src="~/Images/tours/Tour02.jpg" />
        <a href="~/Shared/tours/KhamPhaBanDon.cshtml" class="hoverlink">Chi tiết</a>
    </div>
    <div class="col s6">
        <div class="row row-name">
            <a href="~/Shared/tours/KhamPhaBanDon.cshtml">
                Khám phá Bản Đôn
            </a>
        </div>
        <div class="row row-preview">
            <p class="col s12">
                Mô tả chung về tour, mô tả chung về tour, mô tả chung về tour.
            </p>
        </div>
        <div class="row">
            <ul class="col s12 row-details">
                <li>
                    07h30: xuất phát đi Bản Đôn. Tham gia một số trò chơi tìm hiểu lịch sử vùng đất Tây Nguyên.
                </li>
                <li>
                    08h30: tìm hiểu các tập tục của người bản địa, giao lưu văn hoá cồng chiêng trên Nhà dài Êđê
                </li>
                <li>
                    Chia đội tham gia loạt trò chơi liên hoàn gắn liền với văn hóa Tây Nguyên
                </li>
                <li>
                    11h30: Dùng cơm trưa bên sông Serepok
                </li>
                <li>
                    Thưởng thức các đặc sản núi rừng Tây Nguyên: Cơm lam, Gà nướng, Rau rừng, Heo đồng bào, Cá Lăng Serepok, ...
                </li>
                <li>
                    Thư giãn và nghỉ ngơi
                </li>
                <li>
                    14h00:tham quan Nhà sàn Cổ và Mộ vua săn voi Khunjunop, Đồi Tâm linh.
                </li>
                <li>
                    Cưỡi voi tham quan Buôn làng hoặc rừng Khộp (chi phí tự túc)
                </li>
                <li>
                    Trở về Thành phố Buôn Ma Thuột mua sắm sản vật địa phương
                </li>
                <li>
                    Quay lại điểm đón, kết thúc lộ trình.
                </li>
            </ul>
        </div>
        <div class="row">
            <ul class="col s12 fe-icons">
                <li class="tooltip fe-icon fe-bus">
                    <span class="tooltiptext">
                        Đưa đón
                    </span>
                </li>
                <li class="tooltip fe-icon fe-guide">
                    <span class="tooltiptext">
                        Hướng dẫn
                    </span>
                </li>
                <li class="tooltip fe-icon fe-lunch">
                    <span class="tooltiptext">
                        Ăn trưa
                    </span>
                </li>
                <li class="tooltip fe-icon fe-tickets">
                    <span class="tooltiptext">
                        Vé tham quan
                    </span>
                </li>
                <li class="tooltip fe-icon fe-bottle">
                    <span class="tooltiptext">
                        Nước suối
                    </span>
                </li>
                <li class="tooltip fe-icon fe-towel">
                    <span class="tooltiptext">
                        Khăn lạnh
                    </span>
                </li>
                <li class="tooltip fe-icon fe-insurance">
                    <span class="tooltiptext">
                        Bảo hiểm
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>