
<div class="row row-item space-around">
    <div class="col s4 row-image-box tour-image-box">
        <img src="~/Images/tours/Tour00.jpg" />
        <a href="~/Shared/tours/VeMienHoangDa.cshtml" class="hoverlink">Chi tiết</a>
    </div>
    <div class="col s6">
        <div class="row row-name">
            <a href="~/Shared/tours/VeMienHoangDa.cshtml">
                Về miền hoang dã
            </a>
        </div>
        <div class="row row-preview">
            <p class="col s12">
                Mô tả chung về tour, mô tả chung về tour, mô tả chung về tour.
            </p>
        </div>
        <div class="row">
            <ul class="col s12 row-details">
                <li>
                    Tham quan làng Café Trung Nguyên, Bảo tàng cà phê
                </li>
                <li>
                    Cụm Thác DrayNur (thác Vợ), DraySap (Thác chồng), sông Serepok
                </li>
                <li>
                    Tham quan Bản Đôn, dùng cơm trưa, nghỉ ngơi
                </li>
                <li>
                    Tham quan cầu treo, nhà sàn Lào cổ, mua sắm quà, cưỡi voi
                </li>
                <li>
                    Tham quan mộ vua săn voi Khunjunop, đồi Tâm Linh
                </li>
                <li>
                    Quay về TP. Buôn Ma Thuột, mua sắm quà lưu niệm
                </li>
                <li>
                    Kết thúc lộ trình.
                </li>
            </ul>
        </div>
        <div class="row">
            <ul class="col s12 fe-icons">
                <li class="tooltip fe-icon fe-bus">
                    <span class="tooltiptext">
                        Đưa đón
                    </span>
                </li>
                <li class="tooltip fe-icon fe-guide">
                    <span class="tooltiptext">
                        Hướng dẫn
                    </span>
                </li>
                <li class="tooltip fe-icon fe-lunch">
                    <span class="tooltiptext">
                        Ăn trưa
                    </span>
                </li>
                <li class="tooltip fe-icon fe-tickets">
                    <span class="tooltiptext">
                        Vé tham quan
                    </span>
                </li>
                <li class="tooltip fe-icon fe-bottle">
                    <span class="tooltiptext">
                        Nước suối
                    </span>
                </li>
                <li class="tooltip fe-icon fe-towel">
                    <span class="tooltiptext">
                        Khăn lạnh
                    </span>
                </li>
                <li class="tooltip fe-icon fe-insurance">
                    <span class="tooltiptext">
                        Bảo hiểm
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>