@{
    Layout = "~/_NoHeaderLayout.cshtml";
    Page.Title = "Ban Mê - Hồ Lak";
}
@section main {
    <main>
        <div class="row title-bar">
            <h2>
                <a class="backward-anchor" href="~/Tours/">
                    Tours
                    <i class="fa fa-forward" aria-hidden="true"></i>
                </a> 
                Phố núi Ban Mê - Hồ Lak
            </h2>
        </div>
        <article class="tour-detail-bar">
            <div class="tour-img">
                <img src="~/Images/tours/Tour01.jpg" />
            </div>
            <div class="opac">
                <p>
                    Mô tả ngắn về tour, thời gian, khuyến mãi, địa điểm, nổi bật. Mô tả ngắn về tour, thời gian, khuyến mãi, địa điểm, nổi bật. Mô tả ngắn về tour, thời gian, khuyến mãi, địa điểm, nổi bật.
                </p>
            </div>
        </article>
        <section style="padding-bottom: 20px;">
            <div class="tour-process">
                <h4>
                    Lộ trình
                </h4>                
                <div class="row tour-step first-step border-left">
                    <div class="col s2 step-part step-time">
                        7h:30
                    </div>
                    <div class="col s10 step-part step-content">
                        <h3>
                            Tham quan hồ Lăk
                        </h3>
                        <p>
                            Xe đón đoàn tại khách sạn, khởi hành đi tham quan Hồ Lắk - hồ nước ngọt tự nhiên lớn nhất khu vực Tây Nguyên.
                        </p>
                    </div>
                </div>
                <div class="row tour-step border-right">
                    <div class="col s2 step-part step-time">
                        9h:00
                    </div>
                    <div class="col s10 step-part step-content">
                        <h3>
                            Cưỡi voi - Chèo thuyền độc mộc
                        </h3>
                        <p>
                            Đến Hồ Lắk, du khách sẽ được cưởi voi thăm Buôn Jun, Buôn Lê – Buôn văn hoá của người M’nông. Cưỡi voi, chèo thuyền độc mộc.
                        </p>
                    </div>
                </div>
                <div class="row tour-step border-left">
                    <div class="col s2 step-part step-time">
                        11h:30
                    </div>
                    <div class="col s10 step-part step-content">
                        <h3>
                            Nghỉ trưa
                        </h3>
                        <p>
                            Đoàn ăn cơm trưa tại nhà hàng Hồ Lăk
                        </p>
                    </div>
                </div>
                <div class="row tour-step border-right">
                    <div class="col s2 step-part step-time">
                        14h:00
                    </div>
                    <div class="col s10 step-part step-content">
                        <h3>
                            Ghé thăm Nhà Bảo Đại
                        </h3>
                        <p>
                            Xe đưa đoàn lên Đồi Lạc Thiện ghé thăm Nhà Bảo Đại - Nơi mà vị hoàng đế cuối cùng của Triều đại phong kiến xây dựng để nghỉ ngơi và thư giãn.
                        </p>
                    </div>
                </div>
                <div class="row tour-step border-left">
                    <div class="col s2 step-part step-time">
                        15h:00
                    </div>
                    <div class="col s10 step-part step-content">
                        <h3>
                            Làng café Trung Nguyên
                        </h3>
                        <p>
                            đoàn về lại TP Buôn Ma Thuột, tham quan Làng Café Trung nguyên, Bảo tàng Café - nơi trưng bày các công cụ chế tác café củacác nước trên thế giới.
                        </p>
                    </div>
                </div>
                <div class="row tour-step border-right">
                    <div class="col s2 step-part step-time">
                        16h:00
                    </div>
                    <div class="col s10 step-part step-content">
                        <h3>
                            Buôn Ako Dhong & Chợ Buôn Ma Thuột
                        </h3>
                        <p>
                            Đoàn tiếp tục tham quan Buôn Ako Dhong – Buôn trong phố của người ÊĐê; mua sắm đặc sản địa phương tại chợ Buôn Ma Thuột.
                        </p>
                    </div>
                </div>
                <div class="row tour-step last-step border-left">
                    <div class="col s2 step-part step-time">
                        17h:30
                    </div>
                    <div class="col s10 step-part step-content">
                        <h3>
                            Khách sạn Dakruco
                        </h3>
                        <p>
                            Về lại điểm đón, kết thúc lộ trình.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row tour-price">
                <ul class="col s6">
                    <li class="li-first">
                        Chi phí bao gồm:
                    </li>
                    <li>
                        Xe và HDV
                    </li>
                    <li>
                        Ăn trưa tại Nhà hàng hồ Lăk
                    </li>
                    <li>
                        Vé tham quan tại các điểm theo chương trình
                    </li>
                    <li>
                        Vé cưỡi voi và đi thuyền độc mộc (15 phút)
                    </li>
                    <li>
                        Nước suối, khăn lạnh, Nón du lịch, Bảo hiểm 
                    </li>
                    <li class="li-title">
                        Không bao gồm:
                    </li>
                    <li>
                        Phòng ngủ và các chi phí cá nhân khác
                    </li>
                    <li>
                        Nước uống tại các điểm tham quan
                    </li>
                </ul>
                <table class="col s4 price-table">
                    <thead>
                        <tr>
                            <th>
                                Số người
                            </th>
                            <th>
                                Đơn giá
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                3-5 pax
                            </td>
                            <td>
                                1,100,000 VND/pax
                            </td>
                        </tr>
                        <tr>
                            <td>
                                6-15 pax
                            </td>
                            <td>
                                800,000 VND/pax
                            </td>
                        </tr>
                        <tr>
                            <td>
                                16-29 pax
                            </td>
                            <td>
                                600,000 VND/pax
                            </td>
                        </tr>
                        <tr>
                            <td>
                                30-45 pax
                            </td>
                            <td>
                                550,000 VND/pax
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
}
