@{
    Layout = "~/_NoHeaderLayout.cshtml";
    Page.Title = "Phố núi Ban Mê";
}
@section main {
    <main>
        <div class="row title-bar">
            <h2>
                <a class="backward-anchor" href="~/Tours/">
                    Tours
                    <i class="fa fa-forward" aria-hidden="true"></i>
                </a>
                Phố núi Ban Mê
            </h2>
        </div>
        <article class="tour-detail-bar">
            <div class="tour-img">
                <img src="~/Images/tours/Tour03.jpg" />
            </div>
            <div class="opac">
                <p>
                    Mô tả ngắn về tour, thời gian, khuyến mãi, địa điểm, nổi bật. Mô tả ngắn về tour, thời gian, khuyến mãi, địa điểm, nổi bật. Mô tả ngắn về tour, thời gian, khuyến mãi, địa điểm, nổi bật.
                </p>
            </div>
        </article>
        <section style="padding-bottom: 20px;">
            <div class="tour-process">
                <h4>
                    Lộ trình
                </h4>
                <div class="row tour-step first-step border-left">
                    <div class="col s2 step-part step-time">
                        7h:30
                    </div>
                    <div class="col s10 step-part step-content">
                        <h3>
                            Làng Café Trung Nguyên - Bảo tàng Cà Phê
                        </h3>
                        <p>
                            Xe và HDV DAKRUCO đưa đoàn đi tham quan Làng Café Trung Nguyên, Bảo tàng Cafe thưởng thức hương vị Café của xứ sở Tây Nguyên Huyền bí.
                        </p>
                    </div>
                </div>
                <div class="row tour-step border-right">
                    <div class="col s2 step-part step-time">
                        9h:00
                    </div>
                    <div class="col s10 step-part step-content">
                        <h3>
                            Chùa Sắc tứ Khải Đoan, Đình Lạc Giao, Buôn Akdhong
                        </h3>
                        <p>
                            Rời Làng café Trung Nguyên, xe đưa đoàn đi thăm Chùa Sắc tứ Khải Đoan, Đình Lạc Giao, Buôn Akdhong – Buôn trong phố của người Ê Đê, nơi còn lưu giữ những ngôi nhà dài của tộc người đông nhất tại tỉnh Đắk Lắk.
                        </p>
                    </div>
                </div>
                <div class="row tour-step border-left">
                    <div class="col s2 step-part step-time">
                        11h:30
                    </div>
                    <div class="col s10 step-part step-content">
                        <h3>
                            Cơm trưa & Nghỉ ngơi
                        </h3>
                        <p>
                            Đoàn dùng cơm trưa và nghỉ ngơi.
                        </p>
                    </div>
                </div>
                <div class="row tour-step border-right">
                    <div class="col s2 step-part step-time">
                        14h:00
                    </div>
                    <div class="col s10 step-part step-content">
                        <h3>
                            Khám phá Buôn Ma Thuột
                        </h3>
                        <p>
                            Tham quan Nhà đày BMT, Bảo tàng văn hoá các dân tộc Tỉnh Đắk Lắk, biệt điện Bảo Đại.
                        </p>
                    </div>
                </div>
                <div class="row tour-step border-left">
                    <div class="col s2 step-part step-time">
                        15h:30
                    </div>
                    <div class="col s10 step-part step-content">
                        <h3>
                            Khám phá Buôn Ma Thuột
                        </h3>
                        <p>
                            Thăm cây Kơnia cổ thụ tại Trung tâm văn hoá tỉnh Đắk lắk, tham quan và chụp hình lưu niệm tại Ngã 6 – Sa bàn chiến thắng Buôn Ma Thuột.
                        </p>
                    </div>
                </div>
                <div class="row tour-step border-right">
                    <div class="col s2 step-part step-time">
                        16h:00
                    </div>
                    <div class="col s10 step-part step-content">
                        <h3>
                            Chợ Buôn Ma Thuột
                        </h3>
                        <p>
                            Đoàn ghé mua sắm đặc sản Tây nguyên tại Chợ Buôn Ma Thuột và một số cơ sở bán hàng lưu niệm.
                        </p>
                    </div>
                </div>
                <div class="row tour-step last-step border-left">
                    <div class="col s2 step-part step-time">
                        17h:30
                    </div>
                    <div class="col s10 step-part step-content">
                        <h3>
                            Khách sạn Dakruco
                        </h3>
                        <p>
                            Đưa đoàn về điểm đón ban đầu. Kết thúc hành trình.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row tour-price">
                <ul class="col s6">
                    <li class="li-first">
                        Chi phí bao gồm:
                    </li>
                    <li>
                        Xe và HDV phục vụ theo chương trình
                    </li>
                    <li>
                        1 loại nước uống tại Làng café Trung Nguyên
                    </li>
                    <li>
                        Ăn trưa tại nhà hàng Bến nước Buôn Akdhong
                    </li>
                    <li>
                        Vé tham quan tại các điểm theo chương trình
                    </li>
                    <li>
                        Nước suối, khăn lạnh, Nón du lịch, Bảo hiểm
                    </li>
                    <li class="li-title">
                        Không bao gồm:
                    </li>
                    <li>
                        Phòng ngủ và các chi phí cá nhân khác
                    </li>
                </ul>
                <table class="col s4 price-table">
                    <thead>
                        <tr>
                            <th>
                                Số người
                            </th>
                            <th>
                                Đơn giá
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                3-5 pax
                            </td>
                            <td>
                                1,000,000 VND/pax
                            </td>
                        </tr>
                        <tr>
                            <td>
                                6-15 pax
                            </td>
                            <td>
                                750,000 VND/pax
                            </td>
                        </tr>
                        <tr>
                            <td>
                                16-29 pax
                            </td>
                            <td>
                                550,000 VND/pax
                            </td>
                        </tr>
                        <tr>
                            <td>
                                30-45 pax
                            </td>
                            <td>
                                500,000 VND/pax
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
}
